* {
    margin: 0;
    padding: 0;
}


html, body {
    background: url(imagens/fundo-madeira.jpg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    
}

main {
    position: relative;
}

section {
    position: absolute;
    background:url(imagens/frame-iphone.png);
    top: 50%;
    left: 50%; 
    transform: translate(-50%, 10%);
    
    height: 622px;
    width: 310px; 
}

nav {
    margin-top: 20px;
    margin-right: 18px;
    float: right;
    
}

a {
    padding: 10px;
}

img {
    display: list-item;
    width: 100px; 
    /* padding: 10px; */
    border-radius: 60px;
    
    box-shadow: 3px 3px 8px black;
    box-sizing: border-box;
 
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 264px;
    height: 470px;
}

img:hover{
   border: 2px solid white;
   transform: translate(-3px, -4px);
   box-shadow: 5px 5px 10px black;
   transition: 0.4s;
}



